@import "/home/Eoin/.config/colours/nord_css.css";

* {
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
}

.notification-row {
  outline: none;
}

.notification {
  background: var(--bg-alt);
  border-radius: 0px;
  margin: 8px;
  padding: 14px;
  border: 1px solid var(--bg);
}

.notification-content {
  margin-left: 10px;
}

.summary {
  font-weight: bold;
  color: var(--subtext1);
}

.body {
  color: var(--subtext0);
}

.notification.critical {
  border: 1px solid var(--red);
}

.control-center {
  background: var(--bg-alt);
  border-radius: 0px;
  padding: 6px;
  margin: 0px;
}

.control-center-list {
  background: transparent;
}

.widget-title {
  font-size: 14px;
  font-weight: bold;
  margin: 10px;
  color: var(--fg);
}

.widget-dnd {
  margin: 10px;
}

.widget-dnd > switch {
  border-radius: 999px;
}

.widget-dnd > switch:checked {
  background: var(--overlay0);
}

.widget-dnd > switch {
  background: var(--overlay2);
}
