@import "colours.css";

* {
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: @mantle;
    color: @text;
}

window#waybar.hidden {
    background-color: @mantle;
    opacity: 1.0;
}

window#waybar.empty {
    background-color: @mantle;
}
window#waybar.solo {
    background-color: @mantle;
}

#window {
    color: rgb(88, 199, 233);
    font-weight: bold;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: @surface0;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 13px;
  border-color: #A020FF;
  margin-top: 3px;
  margin-bottom: 3px;

  color: #f1f1f1;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: rgb(48, 140, 168);
  color: #ffffff;
  border-radius: 13px;
  border-color: #A020FF;
  border-radius: 18px 18px 18px 18px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
    background: @surface0;
}

#workspaces button.focused {
    color: @sapphire;
}

#workspaces button.urgent {
    color: @red;
}

#workspaces button.persistent {
    color: @surface2;
}

#mode {
    background-color: #64727D;
    border-bottom: 2px solid #ffffff;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-spotify,
#custom-wlogout,
#custom-wallpaper

#window {
    padding: 0 12;
    background-color: @base;
    color: @text
}

#power-profiles-daemon {
    padding: 0 12;
    color: @text;
    background-color: @mantle;
}

#custom-spotify {
    color: @green;
    background-color: @base;
}

#custom-youtube {
    color: @red;
    background-color: @base;
}

#custom-wlogout{
    color: @text;
    background-color: @mantle;
    padding: 0 4;
}

#custom-wallpaper {
    padding: 0 6px;
}

#custom-wallpaper:hover {
    background-color: #2285ac;
    border-radius: 4px;
}

#workspaces {
    padding: 0 6;
    background-color: @mantle;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    padding: 0 12;
    background-color: @base;
    color: @text;
}

#clock.time {
    padding: 0 12;
    background-color: @mantle;
    color: @text;
}

#battery.external {
    background-color: @base;
    color: @text;
}

#battery.internal {
    background-color: @mantle;
    color: @text;
}

#battery.charging, #battery.plugged {
    color: @mantle;
    background-color: #a6da95;
}

@keyframes blink {
    to {
        background-color: @mantle;
        color: #ed8796;
    }
}

#battery.critical:not(.charging) {
    background-color: #ed8796;
    color: @mantle;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @base;
}

#memory {
    background-color: @mantle;
}

#disk {
    background-color: @mantle;
}

#backlight {
    background-color: @base;
}

#network {
    background-color: @mantle;
}

#network.disconnected {
    background-color: @mantle;
}

#pulseaudio {
    background-color: @mantle;
    padding: 0 12;
    color: @text;
}

#pulseaudio.out {
    background-color: @base;
    padding: 0 12;
    color: @text;
}

#pulseaudio.muted {
    background-color: #8bd5ca;
    color: #2a5c45;
}

#wireplumber {
    background-color: @mantle;
    color: @text;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature {
    background-color: @mantle;
}

#tray {
    padding: 0 12;
    background-color: @mantle;
}

#tray menu {
    background-color: @mantle;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ed8796;
}
