@import "/home/Eoin/.config/colours/nord_colours.css";

* {
    font-family: "FiraCode Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: @bg-alt;
    color: @fg;
}

window#waybar.hidden {
    background-color: @bg-alt;
    opacity: 1.0;
}

window#waybar.empty {
    background-color: @bg-alt;
}
window#waybar.solo {
    background-color: @bg-alt;
}

#window {
    color: @important;
    font-weight: bold;
}

button {
    /* Use box-shadow instead of border so the fg isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: @overlay0;
}

#workspaces {
    padding: 0 5px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 13px;
  border-color: #A020FF;
  margin-top: 3px;
  margin-bottom: 3px;

  color: #f1f1f1;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
  background: @teal;
  color: @bg;
  border-radius: 13px;
  border-color: #A020FF;
  border-radius: 18px 18px 18px 18px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
    background: @overlay0;
}

#workspaces button.urgent {
    color: @red;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-spotify,
#custom-wlogout,
#custom-wallpaper,
#custom-notifications

#window {
    padding: 0 12;
    background-color: @bg-alt;
    color: @fg
}

#custom-spotify {
    color: @nicegreen;
    background-color: @bg-alt;
}

#custom-youtube {
    color: @red;
    background-color: @bg-alt;
}

#custom-wlogout{
    color: @fg;
    background-color: @bg-alt;
    padding: 0 4;
}

#custom-wallpaper {
    padding: 0 6px;
}

#custom-wallpaper:hover {
    background-color: @overlay0;
    border-radius: 4px;
}

#custom-notifications {
    padding: 0 12px;
    background-color: @bg-alt;
    color: @teal;
    border-radius: 6px;
}

#custom-notifications.notification {
    color: @yellow;
}

#custom-notifications.dnd {
    color: @red;
}


#workspaces {
    padding: 0 6;
    background-color: @bg-alt;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    padding: 0 12;
    background-color: @bg-alt;
    color: @fg;
}

#clock.time {
    padding: 0 12;
    background-color: @bg-alt;
    color: @fg;
}

#battery.external {
    background-color: @bg-alt;
    color: @fg;
}

#battery.internal {
    background-color: @bg-alt;
    color: @fg;
}

#battery.charging, #battery.plugged {
    color: @bg-alt;
    background-color: @nicegreen;
}

@keyframes blink {
    to {
        background-color: @bg-alt;
        color: #ed8796;
    }
}

#battery.critical:not(.charging) {
    background-color: @orange;
    color: @bg-alt;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @bg-alt;
}

#memory {
    background-color: @bg-alt;
}

#disk {
    background-color: @bg-alt;
}

#backlight {
    background-color: @bg-alt;
}

#network {
    background-color: @bg-alt;
}

#network.disconnected {
    background-color: @bg-alt;
}

#pulseaudio {
    background-color: @bg-alt;
    padding: 0 12;
    color: @fg;
}

#pulseaudio.out {
    background-color: @bg-alt;
    padding: 0 12;
    color: @fg;
}

#pulseaudio.muted {
    background-color: @teal;
    color: @bg;
}

#temperature {
    background-color: @bg-alt;
}

#tray {
    padding: 0 12;
    background-color: @bg-alt;
}

#tray menu {
    background-color: @bg-alt;
}

#tray > .icon {
    color: @fg;
}

#tray > .passive {
    color: @fg;
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
